.newsletter_popup_wrapper {
  z-index: 9999;
}

.newsletter_popup {
  max-width: 450px;
  animation: fadeIn 0.5s ease-in-out;
}

.newsletter_popup input {
  border: 1px solid #ccc;
}

.submit_btn {
  background-color: #bfa67a;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
